img {
    width: 15vw;
    margin-right: 10vw;
}

a {
    margin-right: 8vw;
    color: #565656;
    font-weight: bold;
    font-size: 14px;
}

.bg-light {
    height: 80px;
    padding-top: 20px;
    padding-bottom: 21px;
    }

    .navbar {
        padding-left: 50px !important;
        background: #f9f9f9;
        }

@media (max-width: 740px) {

    img {
        width: 25vw;
    }


}